<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homes</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<header>
    <div id="divHeader">
        <div>
            <img id="logoAgenda" src="/img/logoAgenda.jpg" alt="">
        </div>
        <div id="divHeaderOpcoes">
            <div class="divHeaderOpcoesFormatacao">
                <a href="" class="divHeaderOpcoesFormatacaoLetra" >Sobre</a>
            </div>
            <div class="divHeaderOpcoesFormatacao">
                <a href="" class="divHeaderOpcoesFormatacaoLetra">Horarios Agendamentos</a>
            </div>
            <div class="divHeaderOpcoesFormatacao">
                <a href="/login" class="divHeaderOpcoesFormatacaoLetra">login</a>
            </div>
            <div class="divHeaderOpcoesFormatacao">
                <a href="" class="divHeaderOpcoesFormatacaoLetra">cadastro</a>
            </div>
        </div>
    </div>
</header>
<body>

</body>
</html>