<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<header>
    <div id="divHeader">
        <div>
            <a th:href="@{/}" ><img id="logoAgenda" src="/img/logoAgenda.jpg" alt=""></a>
        </div>

        <!-- Botão hamburguer (mobile) -->
        <div id="menuToggle" onclick="toggleMenu()">&#9776;</div>

        <!-- Menu principal (desktop) -->
        <div id="divHeaderOpcoes">
            <div class="divHeaderOpcoesFormatacao"><a th:href="@{/}" class="divHeaderOpcoesFormatacaoLetra">Sobre</a></div>
            <div class="divHeaderOpcoesFormatacao"><a href="" class="divHeaderOpcoesFormatacaoLetra">Horarios Agendamentos</a></div>
            <div class="divHeaderOpcoesFormatacao"><a th:href="@{/login}" class="divHeaderOpcoesFormatacaoLetra">Login</a></div>
            <div class="divHeaderOpcoesFormatacao"><a th:href="@{/cadastro}" class="divHeaderOpcoesFormatacaoLetra">Cadastro</a></div>
        </div>
    </div>

    <!-- Menu lateral (mobile) -->
    <div id="sideMenu">
        <span id="closeMenu" onclick="toggleMenu()">&#10005;</span>
        <a th:href="@{/}">Inicio</a>
        <a href="#">Sobre</a>
        <a href="#">Horários Agendamentos</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/cadastro}">Cadastro</a>
    </div>
</header>




<script src="/script/home.js"></script>
</body>
</html>
